<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-3 col-sm-4 col-md-4 col-5"> <a href="#" class="brand-wrap" data-abc="true">
           <span class="logo">TuhhCampusShop</span> </a> </div>
        <div class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block">
        </div>
        <div class="col-lg-5 col-xl-4 col-sm-8 col-md-4 col-7">
          <div class="d-flex justify-content-end"> <a target="_blank" href="#" data-abc="true" class="nav-link widget-header"> <i class="fas fa fa-whatsapp"></i></a> <span class="vl"></span>
            <div class="dropdown btn-group"> <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-abc="true"><i class="fas fa fa-bell"></i></a>
              <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                <li>
              </ul>
            </div>
            <span class="vl">

            </span>
            <a class="nav-link nav-user-img" routerLink="{{ logged_in ? '/profile' : '/login' }}" href="#" data-toggle="modal" data-target="#login-modal" data-abc="true">
              <span class="login">
                {{ logged_in ? 'MY PROFILE' : 'LOGIN' }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <nav class="navbar navbar-expand-md navbar-main border-bottom">
    <div class="container-fluid">
      <div class="navbar-collapse collapse" id="dropdown6">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a routerLink="/catalog" class="nav-link" href="" data-abc="true">Catalog</a> </li>
          <li class="nav-item"> <a routerLink="{{ logged_in ? '/shoppingcart' : '/login' }}" class="nav-link" href="#" data-toggle="modal" data-target="#login-modal" data-abc="true">Shopping Cart</a> </li>
          <li class="nav-item"> <a routerLink="{{ logged_in ? '/wishlist' : '/login' }}"class="nav-link" href="" data-abc="true">Wishlist</a> </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
