
<div class="product-card" *ngIf="product">
<img alt="" class = "product-img" src="{{product.picture_path}}" />
<ul class = "product-details">
    <li class="list-element product-titel">{{product.product_name}}</li>
    <li class="list-element product-description">{{product["product_description"]}}</li>
    <li class="list-element product-price">{{product["product_price"]}}€</li>
</ul>

  <div class="shopping-btn">
    <app-shopping-cart-btn class="cart"></app-shopping-cart-btn>
  </div>


  <div class="shopping-btn">
    <app-wishlist-btn class="cart"></app-wishlist-btn>
  </div>
</div>

