<div class="impressum">
    <h2>Impressum</h2>
    <p>Angaben gemäß § 5 Telemediengesetz</p>

    <p>
    Adresse: <br>
    Technische Universität Hamburg (TUHH)<br>
    Am Schwarzenberg-Campus 1<br>
    21073 Hamburg<br>
    </p>

    <p>
    Telefon:<br>
    +49 40 42878-0<br>
    </p>

    <p>
    Telefax:<br>
    +49 40 42878-2288<br>
    </p>
    <p>
    E-Mail:<br>
    pressestelle(at)tuhh.de<br>
    </p>
    <p>
    Rechtsform:<br>
    Körperschaft des öffentlichen Rechts<br>
    </p>
    <p>
    Gesetzlicher Vertreter:<br>
    der Präsident der TUHH, z. Zt. Prof. Dr. Andreas Timm-Giel<br>
    </p>
    <p>
    Zuständige Aufsichtsbehörde:<br>
    Behörde für Wissenschaft, Forschung, Gleichstellung und Bezirke<br>
    der Freien und Hansestadt Hamburg<br>
    Hamburger Straße 37<br>
    22083 Hamburg<br>
    </p>
    <p>
    Umsatzsteuer-Identifikationsnummer:<br>
    DE 245 980 291<br>
    </p>
    <p>
    Haftungshinweis:<br>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. <br>
    Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br>
    </p>
    <p>
    Datenschutzbeauftragter:<br>
    Externer Datenschutzbeauftragter der TUHH<br>
    datenschutz nord GmbH<br>
    Konsul-Smidt-Straße 88<br>
    28217 Bremen<br>
    Web: www.datenschutz-nord-gruppe.de<br>
    E-Mail: office(at)datenschutz-nord.de<br>
    </p>
    <p>
    Zertifikate:
    Die TUHH beteiligt sich mit einer eigenen Zertifizierungsstelle (CA) an der Public-Key-Infrastruktur des Deutsche Forschungsnetz (DFN). <br>
    Viele Netzdienste, wie z.B. das Mailsystem und unsere Webserver nutzen Server-Zertifikate, die von der TUHH CA ausgestellt sind. <br>
    Da die Wurzelzertifikate nicht in allen Browsern mitgeliefert werden, ist es für den Zugriff auf geschützte Seiten zum Teil notwendig, die Wurzelzertifikate manuell zu installieren.<br>
    </p>

    <p>Copyright © 1995 - 2021 Technische Universität Hamburg</p>

</div>